
*{
  font-family: Cagliostro;
}

html, body {
  height: 100%;
  background-color: #E8E8E8;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
}

.wrapper {
	position:relative;
}

.main-content {
  min-height: 100%;
  margin-bottom: -2%;
  background-color: white;
}

.main-content:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 2%;
}

.recipe_block, .recipe_header, .ingredient, .comment_block {
  height: auto;
  width: max;
  display: block;
  background-color: #e9f3fb;
}

.recipe_block, ingredient {
  margin: .3em 0;
  border-radius: .5em;
  padding: .3em;
}

.comment_block {
  padding: .3em;  
}

.recipe_description {
  word-wrap: break-word;
  display: inline-block;
  padding-left: .5em;
  width: 70%;
  background-color: #bbbbbb;
}

.recipe_info {
  text-transform: uppercase;
  font-size: .7em;
  float: right;
  display: inline-block;
  width: 30%;
  padding: 0 .5em;
  background-color: #999999;
}

.gray_background {
  background-color: #bbbbbb;
}

.recipe_unpinned {
  background-color: Bisque;
}

.recipe_title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
  word-wrap: break-word;
}

.search_input {
  display: inline-block;
}

.ingredient_block {
  height: auto;
  width: 100%;
  margin: .3em 0;
  border-radius: .5em;
  display: block;
  background-color:#e9f3fb;
  overflow: hidden;
  line-height: 100 px;
  padding-left: .5em;
}

.recipe_results {
  font-size: 1em;
}

.recipe_date {
  font-size: .6em;
  font-style: italic;
  float: right;
}

.span12:active {
  background-color: MediumAquamarine;
}

.container-fluid {
  padding-right: 1em;
  padding-left: 1em;
  *zoom: 1;
}

.span14 {
  padding: 1em;
}

.user-plaque {
  background-color: #EEEEEE;
  padding: .2em;
  font-weight: bold;
  border-radius: .3em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form > input {
  width: 225px;
}

.green-font {
  color: green;
}

.form-width {
  width: 225px;
}

.right_recipe_block {
  float:right;
  display:inline-block;
  width: 39%;
}

.left_recipe_block {
  float:left;
  display:inline-block;
  width: 60%;
}

.form {
  width:99%;
  margin: 0 .5%;

}

.search {
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
}

.form > .button {
  position:relative;
  padding:6px 15px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}

.button:hover  {
  background-color:#fafafa;
  color:#207cca;
}

.form input[type="text"], .form input[type="number"], .form select{
  width: 100%;
  background-color: #bbbbbb;
  border:0px solid #dbdbdb;
  color:#fafafa;
  padding: .5em;
}

.search_form input[type="text"]{
  width: 70%;
  background-color: #bbbbbb;
  border:0px solid #dbdbdb;
  color:#fafafa;
  margin: .5em 0;
}

.form a, .form input[type="submit"], .search_form a{
  position:relative;
  padding:8px 1.5%;
  border:.2% solid #207cca;
  background-color:#207cca;
  color:#fafafa;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: .5em 0;
  float: right;
  display:inline-block;
}

.form input[type="submit"] {
  width: 100%;
}

.form a:hover, .form input[type="submit"]:hover, .search_form a:hover {
  background-color:#2387dc;
  border:.2% solid #2387dc;
}

.right_tab_button {
  float:right;
  display:inline-block;
  width: 10%;
  height: auto;
  border-radius: 0 .5em .5em 0;
  background-color: lightblue;
  padding-bottom: 1500px;
  margin-bottom: -1500px;
  text-align: center;
}

.right_tab_button:hover {
  background-color: #a7a7a7;
  color: #ffffff;
}

.right_tab_button:active {
  background-color: #4a4a4a;
  color: #ffffff;
}

textarea {
  height: 8em;
  overflow: hidden;
}

ingredientField {
  margin: 20em 0;
}

.shopping_list {
  before: clear;
  min-width: 50%;
}

.item_block {
  height: auto;
  width: 50%;
  margin: .3em 0;
  display: block;
  overflow: hidden;
  line-height: 100 px;
}

.pretty_button {
  display: inline-block;
  width: 10%;
  height: auto;
  /* background-color: lightblue; */
  text-align: center;
}

.title_base {
  display: inline-block;
  width: 49%;
  height: auto;
  padding-left: .3em;
}

.item_title {
  background-color: #D5F3D4;
}

.item_complete_title {
  color: #BBBBBB;
  background-color: #EEEEEE;
}

.shopping_list_add_results {
  text-transform: uppercase;
  font-size: .7em;
  float: right;
  display: block;
}

.comment-delete {
  display: inline;
}

@media (max-width: 979px) {

/* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 40px;
    width: 50%;
    min-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-device-width: 767px) {
  .span14 {
    padding: .3em;
  }
  .container-fluid {
    padding: 0;
  }
  .mark_complete_button {
    visibility: hidden;
    height: 0;
    float: right;
    display: block;
  }
  .recipe_info {
    width: 50%;
  }
  .recipe_description {
    width: 50%;
  }
  .form {
    margin: 0;
  }
  form {
    width: 100%;
  }

  .item_container {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    margin: 0.5% 0;
  }
  .item_wrapper {
    width: 100%;
    overflow-y: hidden;
  }
  .title_base {
    width: 80%;
  }
  .item_complete {
    float: left;
  }  
  .item_delete {
    float: right;
  }  
}
