{% extends "base.html" %}
{% load staticfiles %}
{% load menu_extras %}
{% load markdown_deux_tags %}

{% block head_title %}
  {{ recipe.name }} - Details
{% endblock %}
{% block content %}

<!-- ADD INGREDIENT MODAL-->
{% include "add_ingredient.html" %}    
<!-- ADD TAG MODAL-->
{% include "add_tag.html" %}

<div class="hero-unit">
  <h1>{{ recipe.name }}</h1>
</div>

<!-- ACTION BUTTONS -->
{% if user.is_superuser %}
<div>
  <div id="add-tag-button" class="fixed-action-btn" style="bottom: 168px; right: 24px;">
    <a class="btn-floating pink">
      <f class="large material-icons"><img style="margin-top: 5px;" src="{% static 'add_tag_icon'|generate_img_path %}" height="25em"></f>
    </a>
  </div>
</div>
<div>
  <div id="add-note-button" class="fixed-action-btn" style="bottom: 120px; right: 24px;">
    <a class="btn-floating orange">
      <f class="large material-icons"><img style="margin-top: 5px;" src="{% static 'add_note_icon'|generate_img_path %}" height="25em"></f>
    </a>
  </div>
</div>
<div>
  <div id="add-ingredient-button" class="fixed-action-btn" style="bottom: 72px; right: 24px;">
    <a class="btn-floating green">
      <f class="large material-icons"><img style="margin-top: 5px;" src="{% static 'add_ingredient_icon'|generate_img_path %}" height="25em"></f>
    </a>
  </div>
</div>
<div onclick="location.href='{% url 'edit_recipe' recipe.id %}'">
  <div id="edit-button" class="fixed-action-btn" style="bottom: 24px; right: 24px;">
    <a class="btn-floating blue">
      <f class="large material-icons"><img style="margin-top: 6px;" src="{% static 'settings_icon'|generate_img_path %}" height="25em"></f>
    </a>
  </div>
</div>
{% endif %}


<div class="recipe_header gray_background">
  <div class="recipe_description">
    {% if recipe.description|length > 0 %}
      {% markdown %}
        {{ recipe.description }}
      {% endmarkdown %}
    {% endif %}
  </div>

  <div class="recipe_info">
    <ul>
      <li><b>Cook Method</b>: {{ recipe.get_cook_method_display }}</li>
      <li><b>Dish Type</b>: {{ recipe.get_dish_type_display }}</li>
      <li><b>Temp</b>: {{ recipe.temperature }}</li>
      <li><b>Prep Time</b>:
        {% if recipe.prep_time < 60 %}
          {{ recipe.prep_time }} minute(s)</li>
        {% else %}
          {{ recipe.prep_time|minutes_to_hours|floatformat:"1" }} hour(s)
        {% endif %}
      <li><b>Cook Time</b>:
        {% if recipe.cook_time < 60 %}
          {{ recipe.cook_time }} minute(s)
        {% else %}
          {{ recipe.cook_time|minutes_to_hours|floatformat:"1" }} hour(s)
        {% endif %}
      </li>
      <li><b>Servings</b>: {{ recipe.servings }}</li>
      {% if user.is_superuser %}
        <li><a class="" target="_blank" href="{{ recipe.source }}">GoTo Recipe Source</a></li>
      {% endif %}
      <li><b>Tags</b>:
        <span id="tagsSection">
          {% for tag in recipe.tags.all %}
            {{ tag }}
          {% empty %}
            no tags
          {% endfor %}
        </span>
      </li>
    </ul>
  </div>
  <div style="clear:both;"></div>
</div>

<div id="ingredients_section">
  {% include "recipe_details_ingredients.html" %}
  <div style="clear:both;"></div>
</div>
<hr>

<div class="recipe_directions">
  <div class="hero-unit">
    <h2>Directions</h2>
  </div>
  {% markdown %}
    {{ recipe.directions | safe }}
  {% endmarkdown %}
</div>
<hr>
<div class="recipe_notes">
  <!-- ADD COMMENT MODAL-->
  {% include "add_comment.html" %}
  <div class="hero-unit">
    <h2>Notes</h2>
  </div>
  {% if recipe.comment_set.all %}
    <div id="comments_section">
      {% for comment in recipe.comment_set.all %}
        <div class="comment_block notSelectable" id="{{ comment.recipe.id }}">
          {{ comment.publishDate }}
          {% if user.is_superuser %}
            <a href="{% url 'comment_delete' comment.id %}"
              onclick="return confirm('Are you sure you want to delete this note?')">
              <img style="margin-top: 5px;" src="{% static 'delete_icon'|generate_img_path %}" height="16em">
            </a>
          {% endif %}
          <br>
          {{ comment.comment}}
        </div>
        <hr>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% endblock %}
