{% load staticfiles %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'materialize/css/materialize.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'materialize/css/materialize-waves.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'menu/css/login.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'menu/css/style.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'menu/css/form.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'menu/css/modal.css' %}" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
